<!DOCTYPE html>
<html>
    <head>
        <title>Централен Балкан ЕООД</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

        <link rel="stylesheet" href="/static/css/base.css">
    </head>
    <body>
        <header>
            <img src="/media/header.jpg" />
        </header>
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="#">Central Balkan</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                        <i class="fa fa-bars fa-lg py-1 text-white"></i>

            </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navigation-list navbar-nav nav nav-fill nav-pills">
              <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard:main-page' %}">Начало</a>
              <a class="nav-link" href="{% url 'dashboard:category_detail' 'partners' %}">Партньори</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="{% url 'dashboard:category_detail' 'parapets' %}">Парапети</a>
                  <a class="nav-link" href="{% url 'dashboard:category_detail' 'fences' %}">Огради</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="{% url 'dashboard:category_detail' 'doors' %}">Врати</a>
                  <a class="nav-link" href="{% url 'dashboard:category_detail' 'stairs' %}">Стълби</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="{% url 'dashboard:category_detail' 'metal-constructions' %}">Метални конструкции</a>
                  <a class="nav-link" href="{% url 'dashboard:category_detail' 'sheds' %}">Навеси</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="{% url 'dashboard:category_detail' 'garden-furniture' %}">Градинкси мебели</a>
                  <a class="nav-link" href="{% url 'dashboard:category_detail' 'metal-details' %}">Детайли от метал</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="{% url 'dashboard:main-page' %}">-</a>
                  <a class="nav-link" href="{% url 'dashboard:category_detail' 'stairs' %}">Стълби</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="{% url 'dashboard:main-page' %}">BG / EN</a>
                  <a class="nav-link" href="{% url 'dashboard:about_us' %}">Контакти</a>
              </li>

            </ul>
          </div>
        </nav>


        <div class='content'>

        {% if messages %}
            {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        {% endif %}

        {% block content %}
            No content
        {% endblock %}

        </div>

        <footer class="page-footer font-small blue pt-4">
          <div class="container-fluid text-center text-md-left">
            <div class="row">
              <div class="footer-text col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase">Централен Балкан</h5>
                <p>гр. Габрово, България</p>
              </div>
              <hr class="clearfix w-100 d-md-none pb-3">
              <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Категории</h5>
                <ul class="list-unstyled">
                  <li><a href="{% url 'dashboard:category_detail' 'stairs' %}">Стълби</a></li>
                  <li><a href="{% url 'dashboard:category_detail' 'metal-constructions' %}">Метални конструкции</a></li>
                  <li><a href="{% url 'dashboard:category_detail' 'garden-furniture' %}">Градинкси мебели</a></li>
                  <li><a href="{% url 'dashboard:category_detail' 'metal-details' %}">Детайли от метал</a></li>
                    <li><a href="{% url 'dashboard:category_detail' 'parapets' %}">Парапети</a></li>
                    <li><a href="{% url 'dashboard:category_detail' 'fences' %}">Огради</a></li>
                    <li><a href="{% url 'dashboard:category_detail' 'doors' %}">Врати</a></li>
                </ul>

              </div>
              <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Страници</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'dashboard:main-page' %}">Начало</a></li>
                    <li><a href="{% url 'dashboard:category_detail' 'partners' %}">Партньори</a></li>
                    <li><a href="{% url 'dashboard:about_us' %}">Контакти</a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

      <script>
        $('.carousel').carousel({
          interval: 3000
        })

        $('#productDetailModal').on('show.bs.modal', function (event) {
          const button = $(event.relatedTarget)
          const id = button.data('id')
          const title = button.data('title')
          const image = button.data('image')
          const description = button.data('description')

          var modal = $(this)

          modal.find('.modal-title').text(`Запитване за "${title}"`)
          modal.find('.modal-img').attr('src', image)
          modal.find('.modal-description').text(`Запитване за "${title}"`)
          modal.find('#form-product').attr('value', id)
        })
      </script>

    </body>
</html>
