{% extends "dashboard/base.html" %}

{% block content %}
<div class="modal fade" id="productDetailModal" tabindex="-1" role="dialog" aria-labelledby="productDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productDetailModalLabel">N/A</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id"askQuestionForm" method="POST" action="{% url "dashboard:ask_question" %}">
          {% csrf_token %}
          <div class="modal-body">
            <img src="" alt="Изображение на продукта" class="modal-img">
            <div class="modal-description"></div>
              <input type="hidden" name="product" class="form-control" id="form-product" required>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Email или телефон за обратна връзка:</label>
                <input type="text" name="email" class="form-control" id="recipient-name" required>
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Съобщение:</label>
                <textarea class="form-control" name="message" id="message-text" required></textarea>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn central-balkan-light-button" data-dismiss="modal">Затвори</button>
            <button type="submit" class="btn central-balkan-dark-button">Изпрати запитване</button>
          </div>
      </form>
    </div>
  </div>
</div>

<div class="container-fluid">
    <div class="alert alert-info" role="alert">
        За въпроси и информация кликнете върху някой от артикулите или
        <a href="{% url 'dashboard:about_us' %}" class="alert-link">тук</a>
    </div>

      {% for row in products_rows %}
          <div class="row">
        {% for product in row %}
            <div class="col-md-4 product-card"
                 data-toggle="modal"
                 data-target="#productDetailModal"
                 data-id="{{product.id}}"
                 data-title="{{product.name}}"
                 data-image="{{product.image_url}}"
                 data-description="{{product.description}}"
                >
                <div
                 data-toggle="tooltip" title="Кликнете на артикула за въпроси и повече информация"
                 >
              <div class="card">
                <h4 class="card-title">{{product.name}}</h4>
                 <div class="card-image-holder">
                    <img class="card-img-top" src="{{product.image_url}}" alt="Card image cap">
                </div>
                <div class="card-block">
                    <p class="card-text">{% if product.description %} {{product.description}} {% endif %}</p>
                    <div class="btn central-balkan-dark-button">Кликни за повече информация</div>
                </div>
              </div>
          </div>
            </div>
          {% endfor %}
      </div>
      {% endfor%}
</div>
{% endblock %}
