body {
    background: #f5f5f5;
}

header {
    width: 100vw;
    background: #0c3243;
}

header > img {
    width: 100%;
    height: auto;
    margin: 0;
}

footer {
    border: 1px solid black;
    height: 20vh;
    width: 100vw;
    background: #0f243e;
}

nav {
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #0c3243;
}
nav * {
    color: white;
}

nav .navbar-toggler span {
    color: white;
}

.navigation-list {
    width: 100%;
}

#main_page_slider > .overlay {
    background: white;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    position: absolute;
    z-index: 2;
}

#main_page_slider > .overlay > h2 {
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
}

#main_page_slider {
    width: 100vw;
}

