
<!doctype html>

<html>

    <head>               

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>



        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">





        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">





        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <meta charset="utf-8" />

        <meta name="description" content="Метални изделия - парапети, огради, навеси и други по изисквания на клиента, изделия от ковано желязо, градински мебели, изделия по поръчка" />

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script type="text/javascript" src="/static/old/scripts/effects.js"></script>

        <link rel="stylesheet" type="text/css" href="/static/old/style/mainstyle.css">

        <link rel="shortcut icon" href="/static/old/images/logoTab.ico" type="favicon/ico" />

        <link rel="stylesheet" href="/static/old/style/contacts.css">

        <title>Централен Балкан ЕООД | Цени и поръчки</title>

    </head>

    <body>

        <header>     

            <a id="headerLink" href="/index.html">

                <div class="page-header">

                    <h1>ЦЕНТРАЛЕН БАЛКАН ЕООД<br/><small>Габрово, България</small></h1>

                </div>

            </a>

        </header>

        

         <nav class="navbar navbar-inverse navbar-fixed-top">

            <div class="container">

                <div class="navbar-header">

                    <a class="navbar-brand" href="/index.html" style="display: inline">Централен Балкан ЕООД</a>

                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

                    

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                </button>

                <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">

                    <li><a href="/index.html">Начало</a></li>

                    <li><a href="/products.html">Продукти</a></li>

                    <li><a href="/gallery.html">Галерия - обекти</a></li>

                    <li><a href="/about-central-balkan.html">За нас</a></li>

                    <li class="active"><a href="/contacts-and-pruchase.html">Контакти и поръчки</a></li>

                </ul>

                </div>

            </div>

        </nav>

        

        <section id="main">

            <ol class="breadcrumb">

              <li><a href="/index.html">Начало</a></li>

                         <li><a href="/contacts-and-pruchase.html">Контакти и поръчки</a></li>

              <li></li>

            </ol>

            

            <h2 id="moreInfo">За повече информация и поръчки</h2>

            

                <div class="contact">тел.: <strong>359/888 366 270 - Емил Дончев</strong></div>

            <div class="contact">тел.: <strong>359 / 878 311 152 - Иван Дончев</strong></div>

            <div class="contact">адрес: <strong>гр. Габрово, улица "Вишеград" ( над печатница "Полипрес" )</strong></div>

            <div class="contact">e-mail: <strong>central_b@abv.bg</strong></div>

            

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2923.066020719166!2d25.29441028911845!3d42.89255379442256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a9106e9ae60c55%3A0x66db14fd76f08f88!2z0YPQuy4g4oCe0JLQuNC90L_RgNC-0LzQsOKAnCwgNTMxMiDQk9Cw0LHRgNC-0LLQvg!5e0!3m2!1sbg!2sbg!4v1456336366109"  frameborder="0" style="border:0" allowfullscreen></iframe>

            

        </section>

        

        <span id="top-link-block" class="hidden">

            <a href="#top" class="well well-sm" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">

                <i class="glyphicon glyphicon-chevron-up"></i>

            </a>

        </span>        

        <footer>

         <section class="footer">

                <div class="container">

                    <div class="row">

                        <div class="col-lg-4  col-md-4 col-sm-4">

                            <div class="footer_dv">

                                    <br/><br/><br/>

                                   <p class="pull-left">© Central Balkan LTD 2016</p>

                            </div>

                        </div>

                        <div class="col-lg-4  col-md-4 col-sm-4">

                            <div class="footer_dv">

                                <img src="/static/old/images/logo.jpg" id="footerLogoImage" alt="Лого на Централен Балкан ЕООД" class="img-rounded">

                            </div>

                        </div>

                        <div class="col-lg-4  col-md-4 col-sm-4">

                            <div class="footer_dv">

                                <ul class="list-inline">

                                    <li><a href="/index.html">Начало</a></li>

                                    <br/>

                                    <li><a href="/products.html">Продукти</a></li>

                                    <br/>

                                    <li><a href="/gallery.html">Галерия - обекти</a></li>

                                    <br/>

                                    <li><a href="/about-central-balkan.html">За нас</a></li>

                                    <br/>

                                    <li><a href="/contacts-and-pruchase.html">Контакти</a></li>

                                    

                                </ul>

                            </div>

                        </div>

                    </div>

                </div>

            </section>

           <h6>© Централен Балкан ЕООД - гр. Габрово - градински мебели и метални изделия - огради и врати от ковано желязо, навеси , перголи и др.</h6>

        </footer>

    </body>

</html>
