<!doctype html>

<html>

    <head>               

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>



        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">




        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<meta name="msvalidate.01" content="D3EFFC90A67ACBD7035B5EA23BC784CA" />

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <meta charset="utf-8" />

        <meta name="description" content="Централен Балкан ЕООД гр. Габрово - метални изделия, парапети, огради, навеси и други по изисквания на клиента, изделия от ковано желязо, градински мебели, изделия по поръчка" />

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script type="text/javascript" src="/static/old/scripts/effects.js"></script>

        <link rel="stylesheet" type="text/css" href="/static/old/style/mainstyle.css">

        <link rel="shortcut icon" href="images/logoTab.ico" type="favicon/ico" />

        <title>Централен Балкан ЕООД</title>

    </head>

    <body>

        <header>     

            <a id="headerLink" href="/index.html" >

                <div class="page-header">

                    <h1>ЦЕНТРАЛЕН БАЛКАН ЕООД<br/><small>Габрово, България</small></h1>

                </div>

            </a>

        </header>

        

        <nav class="navbar navbar-inverse navbar-fixed-top">

            <div class="container">

                <div class="navbar-header">

                    <a class="navbar-brand" href="/index.html">Централен Балкан ЕООД</a>

                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

                    

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                </button>

                <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">

                    <li class="active"><a href="/index.html">Начало</a></li>

                    <li><a href="/products.html">Продукти</a></li>

                    <li><a href="/gallery.html">Галерия - обекти</a></li>

                    <li><a href="/about-central-balkan.html">За нас</a></li>

                    <li><a href="/contacts-and-pruchase.html">Контакти и поръчки</a></li>

                </ul>

                </div>

            </div>

        </nav>

        

        <section id="main">

            <ol class="breadcrumb">

              <li><a href="/index.html">Начало</a></li>

              <li></li>

                

            </ol>

            

            

            

            

            

            <div id="indexSlider" class="container">

              <br>

              <div id="myCarousel" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->

                <ol class="carousel-indicators">

                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

                    <li data-target="#myCarousel" data-slide-to="1"></li>

                    <li data-target="#myCarousel" data-slide-to="2"></li>

                    <li data-target="#myCarousel" data-slide-to="3"></li>

                    

                </ol>



                <!-- Wrapper for slides -->

                <div class="carousel-inner" role="listbox">



                  <div class="item active">

                    <img src="/static/old/images/index-slider/01.jpg" alt="Огради от ковано желязо" width="460" height="345">

                    <div class="carousel-caption">

                      <h3>Огради от ковано желязо</h3>

                    </div>

                  </div>

                    

                  <div class="item">

                    <img src="/static/old/images/index-slider/03.jpg" alt="Сенници" width="460" height="345">

                    <div class="carousel-caption">

                      <h3>Сенници</h3>

                    </div>

                  </div>



                  <div class="item">

                    <img src="/static/old/images/index-slider/02.jpg" alt="Врати от ковано желязо" width="460" height="345">

                    <div class="carousel-caption">

                      <h3>Врати от ковано желязо</h3>

                    </div>

                  </div>



                  <div class="item">

                    <img src="/static/old/images/index-slider/04.jpg" alt="Навеси, парапети" width="460" height="345">

                    <div class="carousel-caption">

                      <h3>Навеси</h3>

                    </div>

                  </div>



                </div>





                <!-- Left and right controls -->

                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">

                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>

                  <span class="sr-only">Следваща</span>

                </a>

                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">

                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

                  <span class="sr-only">Предишна</span>

                </a>

              </div>

            </div>



            

            <article id="indexProducts">

                <h2 id="indexHeading">Нашите продукти</h2>

                <div class="row">

                    <div class="col-sm-3">

                        <a href="/products/parapeti.html" class="seeMore invisible">Виж още</a>

                        <img class="product" src="/static/old/images/index/parapeti.jpg" alt="парапети">

                        <p class="productDescription">Парапети</p>

                    </div>

                    <div class="col-sm-3">

                        <a href="/products/vrati.html" class="seeMore invisible">Виж още</a>

                        <img class="product" src="/static/old/images/index/vrati.jpg" alt="врати">

                        <p class="productDescription">Врати</p>

                    </div>

                    <div class="col-sm-3">

                        <a href="/products/ogradi.html" class="seeMore invisible">Виж още</a>

                        <img class="product" src="/static/old/images/index/ogradi.jpg" alt="огради">

                        <p class="productDescription">Огради</p>

                    </div>

                </div>

            

                <div class="panel panel-info">

                    <div class="panel-heading">

                        <h3 class="panel-title" id="CentralBalkanInfoTitle">За Нас</h3>

                    </div>

                    <div class="panel-body" id="CentralBalkanInfoText">

                        Централен Балкан ЕООД е българска фабрика, разположена в град Габрово, за производство и монтаж на градински мебели, перголи, огради, ковано желязо, парапети, порти, мебели за хотели от метал и дърво, навеси, сенници, беседки...  <a href="/about-central-balkan.html">>>виж повече</a>

                    </div>

                </div>

            

            

            

            </article>

            

        </section>

        

        <span id="top-link-block" class="hidden">

            <a href="#top" class="well well-sm" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">

                <i class="glyphicon glyphicon-chevron-up"></i>

            </a>

        </span>        

        <footer>

         <section class="footer">

                <div class="container">

                    <div class="row">

                        <div class="col-lg-4  col-md-4 col-sm-4">

                            <div class="footer_dv">

                                    <br/><br/><br/>

                                   <p class="pull-left">© Central Balkan LTD 2016</p>

                            </div>

                        </div>

                        <div class="col-lg-4  col-md-4 col-sm-4">

                            <div class="footer_dv">

                                <img src="/static/old/images/logo.jpg" id="footerLogoImage" alt="Лого на Централен Балкан ЕООД" class="img-rounded">

                            </div>

                        </div>

                        <div class="col-lg-4  col-md-4 col-sm-4">

                            <div class="footer_dv">

                                <ul class="list-inline">

                                    <li><a href="/index.html">Начало</a></li>

                                    <br/>

                                    <li><a href="/products.html">Продукти</a></li>

                                    <br/>

                                    <li><a href="/gallery.html">Галерия - обекти</a></li>

                                    <br/>

                                    <li><a href="/about-central-balkan.html">За нас</a></li>

                                    <br/>

                                    <li><a href="/contacts-and-pruchase.html">Контакти</a></li>

                                    

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <h6>© Централен Балкан ЕООД - гр. Габрово - градински мебели и метални изделия - огради и врати от ковано желязо, навеси , перголи и др.</h6>
        </footer>
    </body>
</html>
